body {
  background-color: #acacac;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 375px 6fr 1fr;
  grid-template-rows: auto auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1em 2em;
  background-color: #000000;
  border-radius: 5px 0 0 0;
}

.main-section {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #ffffff;
  border-radius: 0 5px 0 0;
  padding: 3em 4em;
}

.contacts-section {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #000000;
  border-radius: 0 0 5px 5px;
}

.hr {
  height: 1px;
  border: 0;
}

.hr-s {
  border-top: 1px solid #bc9353;
}

.hr-m {
  border-top: 2px solid #bc9353;
}

.hr-l {
  border-top: 3px solid #bc9353;
}

.hr-info-section {
  margin-top: 2em;
  margin-bottom: 4em;
}

.hr-main-section {
  margin: 0;
}

.main-photo {
  background-image: url('../assets/nikita_pakhomov_main_photo.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
  border: 5px solid #bc9353;
  border-radius: 300px;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: .3em;
}

h2 {
  color: #ffffff;
  font-size: 2em;
  margin-top: -.3em;
  margin-bottom: 0em;
  font-weight: normal;
}

h3 {
  color: #bc9353;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;

  margin-top: 2em;
  margin-bottom: 0em;
}

.info-section-info-table {
  color: #ffffff;
  border-collapse: collapse;
  font-size: 1.2em;
  width: 100%;
}

.info-section-info-table td {
  border-bottom: 1px solid #bc9353;
  padding-top: .4em;
  padding-bottom: .4em;
}

.info-section-info-table .column-1 {
  text-align: left;
  width: 50%;
}

.info-section-info-table .column-2 {
  text-align: right;
  width: 50%;
}

.info-section-key-qualities-container {
  margin-top: 1.5em;
}

.info-section-key-qualities-container>div {
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  height: 85px;
  width: 140px;
  padding-top: 55px;
  display: inline-block;
  border: 1px solid #bc9353;
  border-radius: 135px;
}

.info-section-key-qualities-container>div:nth-child(2) {
  margin-left: 30px;
}

.info-section-key-qualities-container>div:nth-child(3) {
  margin-bottom: -300px;
  margin-left: 87px;
  margin-top: -300px;
}

.info-section-key-qualities-container>div:nth-child(5) {
  margin-left: 30px;
}

.info-section-contacts p {
  color: #ffffff;
  line-height: 1.8em;
  font-size: 1.2em;
  margin-top: .6em;
}

.main-section-h3 {
  font-size: 2em;
  margin-left: 2.4em;
}

.main-section-item {
  border-left: 1px solid #bc9353;
}

.main-section-item::before {
  background-color: #bc9353;
  height: 70px;
  width: 70px;
  border-radius: 70px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 65%;

  position: absolute;
  margin-top: -10px;
  margin-left: -35px;
}

.main-section-skills::before {
  background-image: url("/assets/icons/star.svg");
}

.main-section-work::before {
  background-image: url("/assets/icons/graph-line-screen.svg");
}

.main-section-item-content {
  padding-top: 2em;
  padding-left: 5em;
}

.main-section-skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.main-section-item-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.progress-50::after {
  display: block;
  content: "";
  height: 10px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc9353+0,bc9353+50,e6dbc9+50,e6dbc9+100 */
  background: -moz-linear-gradient(left, #bc9353 0%, #bc9353 50%, #e6dbc9 50%, #e6dbc9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bc9353 0%,#bc9353 50%,#e6dbc9 50%,#e6dbc9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bc9353 0%,#bc9353 50%,#e6dbc9 50%,#e6dbc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.progress-25::after {
  display: block;
  content: "";
  height: 10px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc9353+0,bc9353+50,e6dbc9+50,e6dbc9+100 */
  background: -moz-linear-gradient(left, #bc9353 0%, #bc9353 25%, #e6dbc9 25%, #e6dbc9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bc9353 0%,#bc9353 25%,#e6dbc9 25%,#e6dbc9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bc9353 0%,#bc9353 25%,#e6dbc9 25%,#e6dbc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.progress-75::after {
  display: block;
  content: "";
  height: 10px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc9353+0,bc9353+50,e6dbc9+50,e6dbc9+100 */
  background: -moz-linear-gradient(left, #bc9353 0%, #bc9353 75%, #e6dbc9 75%, #e6dbc9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bc9353 0%,#bc9353 75%,#e6dbc9 75%,#e6dbc9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bc9353 0%,#bc9353 75%,#e6dbc9 75%,#e6dbc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.progress-100::after {
  display: block;
  content: "";
  height: 10px;
  width: 100%;
  background: #bc9353;
}

.main-section-skills-header {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: .6em;
}

.main-section-skills-text {
  font-size: 1.2em;
  padding-top: .1em;
}

.main-section-work-company-name {
  font-weight: bold;
  font-size: 1.2em;
}

.main-section-work-experience-period {
  color: #bc9353;
  font-weight: bold;
  padding-left: 1.5em;
}

.main-section-work-location {
  font-size: 1.3em;
}

.main-section-work-location::after {
  content: ", ";
}

.main-section-work-position {
  font-size: 1.3em;
  font-style: italic;
}

.underline {
  text-decoration: underline;
  margin: 0;
  margin-bottom: .2em;
}

.list-style-type-dash {
  list-style-type: none;
}

.list-style-type-dash li::before {
  content: "-";
  padding-right: .3em;
}

.main-section-work-item + .main-section-work-item {
  margin-top: 4em;
}
